{[{ define "layouts/bak_header.html"}]}
<div class="container">
    <div class="logo"><a href="/">ASA Blog</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a onclick="x_admin_show('文章','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>文章</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                <dd><a href="./login.html">退出</a></dd>
            </dl>
        </li>
    </ul>

</div>

{[{end}]}